__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.zip
models/*.zip
models/*.pth
data/safe/*.npy
data/danger/*.npy
data/safe/*.mp4
data/danger/*.mp4
.DS_Store
.vscode/
.idea/
